/* impression visualizer stylesheet */

div#openpsi {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #822B34 0%, #49152B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div.legend {
  position:absolute;
  top:20px; right:20px;
  padding:20px;

  background-color:rgba(0,0,0,0.4);

  z-index:100;
}

.axis--y path { display: none; }
.axis--y { transform: scale(0.985) translateX(50px); z-index: 100; }
.axis--x { display: none; }

/* styles for individual plots */
svg {
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
}

svg .area {
  opacity:1.0;
  stroke-width: 2.5;
  z-index: 99;
}

line {
  stroke: rgba(255,255,255,0.2);
  stroke-width: 0.5px;
}

.line {
  stroke: white;
  stroke-width: 3.5px;
  fill:none;
}

text {
  font: 18px "SF Mono", monospace;
  font-weight: 100;
  fill:white;

  z-index:100;
}