<div class="fullscreen" id="openpsi">

    <svg id="valence">
      <defs>
        <linearGradient id="valenceGradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#BEDB39" stop-opacity="0.4" />
          <stop offset="80%" stop-color="#BEDB39" stop-opacity="0.1" />
        </linearGradient>
      </defs>
    </svg>

    <svg id="arousal">
      <defs>
        <linearGradient id="arousalGradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#004358" stop-opacity="0.4" />
          <stop offset="80%" stop-color="#004358" stop-opacity="0.1" />
        </linearGradient>
      </defs>
    </svg>

</div>