<div class="fullscreen" id="openpsi">
    <svg id="fun" width="100%" height="100%">

        <linearGradient id="funGradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#FD7400" stop-opacity="1.0" />
          <stop offset="80%" stop-color="#FD7400" stop-opacity="0.5" />
        </linearGradient>

    </svg>

    <svg id="sadness" width="100%" height="100%">

        <linearGradient id="sadnessGradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#BEDB39" stop-opacity="1.0" />
          <stop offset="80%" stop-color="#BEDB39" stop-opacity="0.5" />
        </linearGradient>

    </svg>

    <svg id="arousal" width="100%" height="100%">
      <defs>
        <linearGradient id="arousalGradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#004358" stop-opacity="1.0" />
          <stop offset="80%" stop-color="#004358" stop-opacity="0.5" />
        </linearGradient>
      </defs>

    </svg>



</div>