<div class="ui attached stackable menu">
  <div class="ui container">
      <div class="item">
        <!--<i class="home icon"></i> {{'MOZI' | translate}}-->
          <img src="../../../assets/img/mozi_globe.png" alt="">
      </div>
      
      <a class="item" routerLink="">
        <i class="cloud icon"></i> {{ 'Fetch' | translate}}
      </a>
      <a class="item" routerLink="/network">
        <i class="cloud icon"></i> {{ 'Network' | translate}}
      </a>
    <div class="ui secondary stackable right menu">
      <div class="ui dropdown item">
        <i class="translate icon"></i>
            Language
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" *ngFor="let lang of supportedLanguages" (click)="selectLang(lang.value)"><i class="{{ lang.flag }} flag"></i> {{ lang.display }}</a>
        </div>
      </div>

      <a class="item" (click)="signOut()">
        <i class="sign out icon"></i> {{ 'Sign Out' | translate }}
      </a>
    </div>
  </div>
</div>


<router-outlet></router-outlet>


