/*.center-div {*/
     /*width: 100%;*/
    /*height: 100px;*/

    /*position: absolute;*/
    /*top:0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

    /*margin: auto;*/
/*}*/

/*input {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 20px;*/
/*}*/

#url-div > div > div > div:nth-child(1) > div > form > div {
  width: 100%;
}

#url-div > div > div > div:nth-child(1) > div.description > form > div.ui.left.icon.input.loading {
  height: 80px !important;
}

.error {
  color: #D8000C;
  width: 50%;
  margin: 0 auto;
  background-color: #FFBABA;
  text-align: center;
}
