<div class="fullscreen" id="atomspace">
    <div class="options" ng-if="showOptions">
        <h1>Options</h1>

        <h3>Filter By</h3>
        <ul>
            <li>
              <select name="filterby" ng-model="pollSettings.filterby">
                <!--<option value="none">All Atoms</option>-->
                <option value="stirange">STI Range</option>
                <option value="attentionalfocus">Attentional focus</option>
              </select>
            </li>
        </ul>
              
        <ul ng-if="pollSettings.filterby == 'stirange'">
            <h3>STI range</h3>
            <li>
              <input id="lowsti" type="text" ng-model="pollSettings.stimin" class="input">
            </li>
    
            <li>
              <input id="lowsti" type="text" ng-model="pollSettings.stimax" class="input">
            </li>
        </ul>

        <ul>
            <h3>Incoming edges</h3>
            <li>
              <input id="incoming" type="checkbox" ng-model="pollSettings.includeIncoming" class="input">
            </li>
        </ul>

        <ul>
            <h3>Outgoing edges</h3>
            <li>
              <input id="outgoing" type="checkbox" ng-model="pollSettings.includeOutgoing" class="input">
            </li>
        </ul>

        <br>
    </div>

    <!-- canvas injected beneath via JS !-->
</div>