/* impression visualizer stylesheet */

div#atomspace {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8c6df+0,6d88b7+100;Grey+Blue+3D+%231 */
  background: rgb(184,198,223); /* Old browsers */
  background: -webkit-radial-gradient(center, ellipse cover, #91AA9D 0%, #193441 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #91AA9D 0%, #193441 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

canvas {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

div.options {
  position:absolute;
  top:20px; right:20px;
  width:20%;

  padding:20px;

  background-color:rgba(0,0,0,0.4);

  z-index:100;
}

div.warning {
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;

  background-color:rgba(100,0,0,0.4);
  z-index:88;
}

div.warning h1 {
  padding-top:20%;
  width:100%;
  text-align: center;
}