.chat-screen {
	height: 600px;
}

.chat-text-holder {
	height: 519px;
}

.user-text {
	color: rgb(175, 117, 53);
}

.bot-text {
	color: teal;
}

/*.chat-input {
	position: fixed !important;
	bottom: 30px;
	left: 20px;
	width: 21%;
}*/


/*--------------------------- FOR TEST -----------------*/
.links line {
	stroke: #000;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

/*svg{*/
	/*width:100%;*/
/*}*/

svg {
	/*background-color:#666;*/
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.visualizer-screen {
	position: relative;
	background-color: #f6f9f8;
	height: 936px;
	padding: 4px;
}

.tools-div {
	position: absolute;
}

.message-div {
	position: absolute;
	right: 0;
	background-color: black;
	opacity: 0.7;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}

.message-text {
	color: white;
	opacity: 1;
}

.message-head {
	color: white;
	opacity: 1;	
}
.source { 
  stroke-width: 3px !important;
  stroke-opacity: 1;
  stroke: #0f0;
}

.target { 
  stroke-width: 3px !important;
  stroke-opacity: 1;
  stroke: #f00;
}

/*.chat-text-holder{*/
	/*overflow-x: scroll;*/
	/*overflow-y: scroll;*/
/*}*/

/*::-webkit-scrollbar-track*/
/*{*/
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar*/
/*{*/
	/*width: 5px;*/
	/*background-color: teal;*/
/*}*/

/*::-webkit-scrollbar-thumb*/
/*{*/
	/*background-color: teal;*/
	/*border: 1px solid #599a9a;*/
/*}*/