
  <div class="center-div">
    <div id="url-div" >
      <div class="ui cards">
        <div class="card" style="width: 40%; margin: 10% auto;">
          <div class="content">
            <div class="header">
              Visualize Results From Server
            </div>
            <div class="description">
              <form [formGroup]="form" (ngSubmit)="fetchJson()">

                <!--<input [(ngModel)]="url" formControlName="url" type="text" placeholder="Insert url">-->
                <div class="ui left icon input loading" style="height: 100px">
                  <input [(ngModel)]="url" formControlName="url" type="text" placeholder="Server Url">
                  <i  [ngClass]="{'search icon': connecting}" ></i>
                </div>

                <div class="error" *ngIf="errMsg != ''">{{ errMsg }}</div>

              </form>
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button" (click)="fetchJson()" >Fetch</div>
              <div class="ui basic red button" (click)="reset()">Reset</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


