<v-accordion class="vAccordion--default">

    <v-pane expanded="false">
        <v-pane-header><h5>Connection</h5></v-pane-header>
        <v-pane-content>
            <p>[[TODO]]</p>
        </v-pane-content>
    </v-pane>

    <v-pane expanded="false">
        <v-pane-header><h5>Appearance</h5></v-pane-header>
        <v-pane-content>
            <p>[[TODO]]</p>
        </v-pane-content>
    </v-pane>

    <v-pane expanded="false">
        <v-pane-header><h5>Color</h5></v-pane-header>
        <v-pane-content>
            <p>[[TODO]]</p>
        </v-pane-content>
    </v-pane>

    <v-pane expanded="false">
        <v-pane-header><h5>Text</h5></v-pane-header>
        <v-pane-content>
            <p>[[TODO]]</p>
        </v-pane-content>
    </v-pane>

</v-accordion>