body {
    background-color: #888888;
    padding-top: 53px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
}

#dock_manager {
    clear: both;
    font-size: smaller;
    background-color: #d3d3d3;
}

#toolbox_panel {
    background-color: #d3d3d3;
    width: 100px;
    padding: 15px;
    overflow: auto;
}

#atom_details_panel {
    background-color: #d3d3d3;
    width: 300px;
    padding: 12px;
}

#json_panel {
    background-color: #d3d3d3;
    overflow: auto;
    padding: 10px;
}

#planar_panel {
    background-color: #d3d3d3;
    overflow: visible;
    padding: 10px;
}

#settings_panel {
    background-color: #eaeaea;
    overflow: auto;
    width: 350px;
    height: 420px;
    padding: 10px;
}

#filters_panel {
    background-color: #d3d3d3;
    overflow: auto;
    width: 350px;
    height: 420px;
    padding: 10px;
}

#terminal_panel {
    background-color: #1a1a1a;
}

#add_node_panel {
    background-color: #f5f5f5;
    width: 620px;
    height: 340px;
}




