svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;

    cursor: crosshair;
}

canvas {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;

    cursor: crosshair;
}


line {
  stroke: rgba(255,255,255,0.2);
  stroke-width: 0.5px;

}

.node {
  pointer-events: all;
}

circle {
  stroke-width: 40px;
  fill:white;


}



.node text {
  font: 12px "SF Mono", monospace;
  font-weight: 100;
  fill:black;

}


.node.WordInstanceLink circle,
.node.InheritanceLink circle,
.node.ImplicationLink circle,
.node.ReferenceLink circle,
.node.LgLinkInstanceLink circle,
.node.LgConnector circle,
.node.LgConnectorNode circle,
.node.LgAnd circle,
.node.LgWordCset circle,
.node.WordSequenceLink circle,
.node.ListLink circle,
.node.ParseLink circle,
.node.EvaluationLink circle,
.node.InterpretationLink circle,
.node.SetLink circle,
.node.PartOfSpeechLink circle,
.node.SatisfyingSetLink circle,
.node.LemmaLink circle,
.node.SentenceSequenceLink circle,
.node.LinkGrammarRelationshipNode circle,
.node.LgLinkInstanceNode circle,
.node.AnchorNode circle,
.node.LgConnDirNode circle {
    transform: scale(0.5);
}

.WordInstanceLink text,
.InheritanceLink text,
.ImplicationLink text,
.ReferenceLink text,
.LgLinkInstanceLink text,
.LgConnector text,
.LgConnectorNode text,
.LgAnd text,
.LgWordCset text,
.WordSequenceLink text,
.ListLink text,
.ParseLink text,
.EvaluationLink text,
.InterpretationLink text,
.SetLink text,
.PartOfSpeechLink text,
.SatisfyingSetLink text,
.LemmaLink text,
.SentenceSequenceLink text,
.LinkGrammarRelationshipNode text,
.LgLinkInstanceNode text,
.AnchorNode text,
.LgConnDirNode text {
  display:none;
}


.node.ConceptNode, 
.node.WordNode,
.node.WordInstanceNode,
.node.PredicateNode,
.node.SentenceNode,
.node.ParseNode,
.node.InterpretationNode {
  /*display:none;*/
}

.node.ConceptNode circle,
.node.WordNode circle,
.node.WordInstanceNode circle,
.node.PredicateNode circle,
.node.SentenceNode circle,
.node.ParseNode circle,
.node.InterpretationNode circle {
  transform: scale(1.5);
}


.node.NumberNode {
  display:none;
}

.node.DefinedLinguisticConceptNode,
.node.DefinedLinguisticPredicateNode,
.node.DefinedLinguisticRelationshipNode {
  display:none;
}


text {
  font: 18px "SF Mono", monospace;
  font-weight: 100;
  fill:white;
}



.line {
  stroke: white;
  stroke-width: 3.5px;
  fill:none;
}