planar-view {
    height: 100%;
    width: 100%;
    float: left;
}

planar-view svg {
    background-color: #f2f2f2;
    border: solid #b4b4b4 1px;
    margin: auto;
    display: block;
    border-radius: 8px;
}

.node circle, polygon {
    stroke: #424242;
    stroke-opacity: .6;
    fill: #29a;
    stroke-width: 1px;
}

.node text {
    font-family: Arial, serif;
}

.node:hover circle {
    stroke-opacity: .9;
    fill: #28b6ca;
    stroke-width: 2px;
}

.node:hover text {
    font-weight: bold;
}

.node_selected circle {
    stroke-opacity: .9;
    fill: #fcbe28;
    stroke-width: 1px;
}

.node_selected text {
    font-weight: bold;
}

.node_selected:hover circle {
    stroke-opacity: 1;
    fill: #fcdb1f;
    stroke-width: 2px;
}

.node_selected:hover text {
    font-weight: bold;
}

.edge .line {
    stroke: #424242;
    fill: none;
}

.edge .text_path {
    visibility: hidden;
}

.edge text {
    text-anchor: middle;
    font-family: Arial, serif;
}