/* STANDART TAGS */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
body 
{
  background-color: #f8f8f8;
  display:none;
  overflow: hidden;
}
hr
{
    margin:0;
    padding:0;
    height:0;
}


/* LAYOUT */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#wrapper
{
   height:100%;  
} 

#leftMenu
{   
  background-color:#777;
  padding:0;
}
#rightMenu
{
  padding:0;
  background-color: #777;
}

#mainContent
{
    
  padding:0;
}

#atomDetails
{
  background-color: #ddd;
  border:2px solid #ddd;
}
 
/* DETAILS */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#details
{
  width: 240px;
  height: 400px;
  position: fixed;
  border: 1px solid #111;
  z-index: 399990;
  right: 50px;
  top: 50px;
  background-color: #ddd;
  font-size: 12px;
}

#detailsBar 
{
  background-color: #3366cc;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #111;
}

#detailsBar:hover
{
  background-color: #4477dd;
}

#detailsPanel
{
   
}

#detailsContent
{
  padding: 0px;
  display:none;
}

#detailsContentNone
{
  padding:10px;
  text-align: center;
}

#detailsLinkContent
{
   padding:10px;
   display:none;
}

#detailsAtomHandle
{
  font-weight: bold;
}

.detailBarCloseButton a:link
{
  color:#fff!important;
}

.detailBarCloseButton a:hover
{
  color:#fff;
}

#detailsPanelNodeContent
{
  display:none;
}

#detailsPanelLinkContent
{
  display:none;
}

#detailsPanelContentNone
{
  padding:10px;
}

/* TOOLBAR */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#toolbox 
{
  width:120px;
  height:300px;
  position: fixed;
  border: 1px solid #fff;
  z-index: 399990;
  right: 50px;
  top: 50px;
  background-color: #333;
  font-size: 12px;
}
#toolboxBar
{
  padding:10px;
  font-size:12px;
  font-weight: bold;
  color:#fff;
  background-color: #3366cc;
  cursor:pointer;
}

#toolboxBar:hover
{
  background-color: #4477dd;
}

#toolboxContent
{
  
 
}
.toolboxIcon
{
  border:1px solid #aaa;
   
  float:left;
  width:50px;
  height:50px;
  margin:2px;
  text-align: center;
  overflow: hidden;
  font-size:34px;
  color:#ddd;
  background-color:#222;
  cursor:pointer;
}
.toolBoxLine
{
  clear:left;
  margin:10px;
  height:2px;
  background-color: #333;
}
.toolboxIcon:hover
{
  background-color:#ddd;
  color:#333;
}
.toolboxIconSelected
{
  background-color: #ddd;
  color:#333;
}


/* TERMINAL */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#terminal
{
  width:320px;
  height:320px;
  position: fixed;
  z-index: 399990;
  right: 50px;
  top: 50px;
  background-color: #ddd;
  border: 1px solid #fff;
  overflow: hidden;
}
#terminalBar 
{
  padding:10px;
  font-size:12px;
  font-weight: bold;
  color:#fff;
  background-color: #3366cc;
  cursor:pointer;
}

#terminalBar:hover
{
  background-color: #4477dd;
}

#terminalText
{
   width:100%;
   height:90%;
   border:none;
   size :none;
   resize:none;
}

/* VISUAL ELEMENTS */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/

.link {
  stroke: #fff;
  stroke-width:0.5px;
  stroke-opacity: 0.2;
  z-index: 1;
}

.link:hover {
  stroke:  red;
  stroke-width: 3px;
  cursor: pointer; 
}

.node circle
{  
  stroke: #fff;
   stroke-width: 0;
  cursor: pointer;
  z-index:50;
}

.node circle:hover
{  
  stroke: red;
  stroke-width: 2px; 
}

.node-active circle{
  stroke: red;
  fill: #321;
  stroke-width: 2px;
}
.linkNode
{
  stroke:red;
  stroke-width:1px;
  fill:red;
} 

.link-active
{
  stroke-opacity: 1;stroke: red;
  stroke-width: 1px;
}

.fixed circle
{
  stroke:red;
  stroke-width:2px;
  box-shadow: 2px 2px 2px #ddd;
}

.linkToolNode circle
{
  fill:blue;
}

.selectedNode circle
{
  stroke-width:2px;
  stroke:red;
}

.selectedLink
{
  stroke:red; stroke-width: 3px;
}

.text
{
  fill:#ddd;
  color:#ddd;
  font-size:8px;
  padding:10px;
  background-color: #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: pointer;
  margin-left:20px;
  margin-top:20px;
}

.overlay
{
  fill: none;
  pointer-events: all;
}

/* ACCORDION */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
.accordion-heading  
{
    padding:10px; 
    border:1px solid #ddd;
    border-top:none;
}

.accordion-heading:hover  
{
    background-color:#ccc;
}

.accordion-heading a:link  
{
    text-decoration: none;
}

.accordion-heading a:hover  
{
    text-decoration: none;
}

.accordion-inner  
{
    padding:10px;
    padding-right:20px; 
    background-color:#fff;
}

/* CONNECT PANEL */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#ConnectConnectButton, #ConnectRefreshButton
{
  cursor: pointer;
}

#ConnectConnectButton:hover, #ConnectRefreshButton:hover
{
  background-color:#5cb85c;
  color:#fff;
}

#ConnectionStatus
{
  font-size:12px;
  margin-top:2px;
}


/* SCREENS */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#snapshotFlash
{
  background-color: #fff;
  width:100%;
  height:100%;
  display:none;
  z-index: 100;
  position:absolute;
}

#screen-d3
{
  background-color:#333;
}
 
#screen-3d
{
  background-color:#000;
}

#screen-sigma
{
  background-color:#000;
}

#screen-json
{
  padding:20px;
  background-color: #fff;
  color:#000;
  overflow:scroll;
}

#screen-table
{
  padding:20px;
  background-color: #fff;
  color:#000;
  overflow:scroll;
}

#screen-scheme
{
  padding:20px;
  background-color: #fff;
  color:#000;
  overflow:scroll;
}

#screen-statistics
{
  padding:20px;
  overflow:scroll;
}

#screen-import
{
    padding:20px;
    background-color: #fff;
    color:#000;
}

#screen-export
{
    padding:20px;
    background-color: #fff;
    color:#000;
}

#screen-help
{
    padding:20px;
    background-color: #fff;
    color:#000;
    overflow:scroll;
}

#screen-about
{
    padding:20px;
    background-color: #fff;
    color:#000;
}

#screen-gexf
{
    padding:20px;
    background-color: #fff;
    color:#000;
}

 
/* CLASSES */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
.success
{
    color:#5cb85c;
}

.fail
{
    color:red;
}

#loading
{
  background-color:#000;
  opacity: 0.8;
  width:100%;
  height:100%;
  position: absolute;
  z-index:100000;
}

#loadingInner
{
  width:300px;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  color:#fff;
  padding:50px;
  font-size:18px;
  text-align: center;
}


/* DISPLAY */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
.table-settings
{
  border:1px solid #ddd;
  margin:0px!important;
}
.table-settings td
{
  border:1px solid #ddd;
}

#display-none
{
  padding:10px;
}

.accordion-heading
{
  background-color: #777!important;
  border: none;
}

.accordion-heading:hover
{
  background-color: #333!important;   
}

.accordion-group
{
  border:none;
}

.accordion-heading a:link
{
  color:#fff!important;
}
.accordion-inner
{
  padding:0;
  background-color: #efefef;
}
#FilterSTIRangeAmount
{
  font-size: 10px;
}

.navbar .divider-vertical
{
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical
{
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
  .navbar-collapse .nav > .divider-vertical
  {
      display: none;
  }
}