<!-- D3 Graph window with controls -->
<div class="ui grid very padded ui-grid">
  <div class="sixteen wide column ui-columns">
    <div class="ui segment visualizer-screen">
      <div class="tools-div">
        <div class="ui icon buttons">
          <button (click)="playSimulation()" class="active ui icon teal button" data-tooltip="Play  (Pause key)" data-position="top left">
            <i class="icon play"></i>
          </button>
          <button (click)="pauseSimulation()" class="ui icon teal button" data-tooltip="Pause  (Pause key)">
          <i class="icon pause"></i>
          </button>
          <button (click)="restartSimulation()" class="ui icon teal button" data-tooltip="Restart  (Shift-Pause key)">
            <i class="icon refresh"></i>
          </button>
        </div>
        <div class="ui icon buttons">
          <button (click)="zoomIn('1000')" class="ui icon teal button" data-tooltip="Zoom in  (Numpad +)">
            <i class="icon plus"></i>
          </button>
          <button (click)="zoomOut('1000')" class="ui icon teal button" data-tooltip="Zoom out  (Numpad -)">
            <i class="icon minus"></i>
          </button>
          <button (click)="zoomReset('1000')" class="ui icon teal button" data-tooltip="Reset zoom  (Numpad *)">
            <i class="icon window restore"></i>
          </button>
        </div>
        <div *ngIf="isSelectedNode" (window:mousedown)="onLoadFiltering($event)" class="button ui floating labeled icon dropdown teal" id="filtermenu-btn" data-tooltip="Apply filtering to selected Node">
          <i class="filter icon"></i>
          <div class="default text" id="filtermenu-text">Unfiltered</div>
          <div class="menu" (click)="onClickFiltering($event)" id="filtermenu">
          </div>
        </div>
        <button *ngIf="isDrilledNodes" (click)="showAll()" class="button ui teal">
					<span  data-tooltip="Restore all Nodes and Links">Show All Data</span>
				</button>
        <br>
        <div class="ui toggle checkbox" data-tooltip="Detailed tooltips" data-position="bottom left">
          <input type="checkbox" name="detailedTooltips">
          <label (click)="toggleTooltips()">
            <div [ngSwitch]="isDetailedTooltips">
              <i *ngSwitchCase="false" class="icon large teal comment outline"></i>
              <i *ngSwitchCase="true" class="icon large teal talk outline"></i>
            </div>
          </label>
        </div>
      </div>
      <div *ngIf="isSelectedNode" class="selected-node-properties">
        <table class="ui celled striped table">
          <thead>
            <tr>
              <th colspan="2">
                <span>{{ type }}</span>
                <i (click) = "closeSelectedNodeProps()" class="ui basic circular right floated remove icon"></i>
              </th>
            </tr>
            <tr *ngIf="name !== ''">
              <th colspan="2">
                <span>{{ name }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="collapsing">
                <span>Handle</span>
              </td>
              <td>{{ handle }}</td>
            </tr>
            <tr>
              <td>
                <span>LTI</span>
              </td>
              <td>{{ av.lti }}</td>
            </tr>
            <tr>
              <td>
                <span>STI</span>
              </td>
              <td>{{ av.sti }}</td>
            </tr>
            <tr>
              <td>
                <span>VLTI</span>
              </td>
              <td>{{ av.vlti }}</td>
            </tr>
            <tr>
              <td>
                <span>Confidence</span>
              </td>
              <td>{{ tv.details.confidence }}</td>
            </tr>
            <tr>
              <td>
                <span>Strength</span>
              </td>
              <td>{{ tv.details.strength }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <svg id="svgcanvas" *ngIf="parsedJson">
      </svg>
    </div>
  </div>
</div>
