/*
 * ### App level ###
 */
.ui-grid {
	width: 100%;
  height: 90%;
  position: absolute;
}

.visualizer-screen {
	position: relative;
	background-color: #f6f9f8;
  /* height: 936px; */
  height: 100%;
  position: absolute;
	padding: 4px;
}

.tools-div {
	position: absolute;
}

/* Tighten up default Semantic UI menu dropdown top/bottom padding, as there may be many items in dynamically built filter list */
.ui.dropdown .menu>.item {
  /* padding: 0.78571429rem 1.14285714rem !important;  # semantic ui default */
  padding: 0.392857145rem 1.14285714rem !important;
}

/*
 * ### D3 Graph related ###
 */

svg {
	/*background-color:#666;*/
	cursor: pointer;
	width: 100%;
	height: 100%;
}

svg.rect {
	/*background-color:#666;*/
	width: 100%;
	height: 100%;
}

.ui.icon.buttons {
  opacity: 0.8;
}

/* Tooltips toggle checkbox */
.ui.toggle.checkbox {
  opacity: 0.8;
}
.ui.toggle.checkbox label {
  /* font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; */
  padding-top: 0em !important;  /* icon alignment */
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #00B5AD!important;
}
.ui.toggle.checkbox input~.box:before, .ui.toggle.checkbox input~label:before {
  background-color: #bfece9;
}

/* Right-side Node properties table */
.selected-node-properties {
	position: absolute;
  right: 0;
  min-width: 180px;
  max-width: 340px;
  /* background-color: black; */
  background-color: #00B5AD;
	opacity: 0.9;
	padding: 6px;
	border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  user-select: none;
  pointer-events: none;  /* Allow selecting, dragging, etc through the table... */
}
#selected-node-properties-close-btn {
  pointer-events: all;  /* ...However, need to enable pointer-events on close button */
}
.selected-node-properties table thead tr th i {
  margin-left: 2em;
  margin-bottom: 0em;
}
.right.floated {  /* Right floated not supported by Semantic UI. Manually add support for it */
  float: right;
}

.links line {
	stroke: #000;
	stroke-opacity: 0.6;
	/* stroke-width: ?px; */
}

.nodes circle {
	stroke: #fff;
  stroke-width: 1.5px;
  /* opacity: 0.8; */
}

text.edgelabelshadow {
  stroke: #fff;
}

/* Node & Link tooltips */
.tooltip {
  position: absolute;
}
.html-tooltip {
  position: absolute;
  text-align: center;
  line-height: 0.75em !important;
  padding: 2px;
  /* font: 10px sans-serif; */
  font-size: 12px;
  background: #00B5AD;
  pointer-events: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.html-detailed-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  /* font: 10px sans-serif; */
  font-size: 12px;
  background: #00B5AD;
  pointer-events: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Context (right-click) menus */
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;
	z-index:1200;
}
.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}
.d3-context-menu ul li {
	padding: 4px 16px;
}
.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

/*
.div.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip *
.div.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently *
.div.tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
*/

/* disable text selection */
/* svg *::selection {
  background : transparent;
}

svg *::-moz-selection {
  background:transparent;
}

svg *::-webkit-selection {
  background:transparent;
} */

/*
.source { 
  stroke-width: 3px !important;
  stroke-opacity: 1;
  stroke: #0f0;
}

.target { 
  stroke-width: 3px !important;
  stroke-opacity: 1;
  stroke: #f00;
}
*/

/*
.chat-text-holder {
	overflow-x: scroll;
	overflow-y: scroll;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: teal;
}

::-webkit-scrollbar-thumb {
	/*background-color: teal;
	/*border: 1px solid #599a9a;
}
*/
