/* impression visualizer stylesheet */

/* external font declarations */

@font-face { 
  font-family: "DosisLight"; 
  src: url("../bower_components/dosis-googlefont/Dosis-Light.ttf"); 
}

/* global body style */

body {
  font-family: "DosisLight", sans-serif;
  color:white;
  height:100%;
}

.view-animate-container {
  /* Background for connect screen and transitions */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d6f77+0,28343b+100 */
  background: rgb(109,111,119); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(109,111,119,1) 0%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(109,111,119,1) 0%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(109,111,119,1) 0%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

