/* app css stylesheet */
body {
  font-family: "SF Mono", monospace;
  color:white;
  height:100%;
}

ol, ul {
  list-style: none;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

span.version {
  display: block;
  position:absolute;
  bottom:5px;
  width:100%;
  left:0px;
  font-size: 10px;
  opacity: 0.5;
  text-align: center;
}


div.fullscreen {
    position: absolute;
    width:100%;
    height:100%;
    
    /* force hw acceleration for better font rendering */
    -webkit-transform: translateZ(0px);
}

div.fullscreen#connect {
  text-align: center;

  width:80%;
  left:10%;
  top:38%;
  height:20%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align:center;
  font-family: inherit;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  box-sizing: border-box;
  color:black;
}

input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}



button {
  display: block;
  margin: 0;
  margin-top:10px;
  width: 100%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align:center;
  font-family: inherit;
  padding: 10px;
  border:0;
  background-color: rgba(0,0,0,0.5);
  transition: background-color 0.5s;
}

div#atomspace {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8c6df+0,6d88b7+100;Grey+Blue+3D+%231 */
    background: rgb(184,198,223); /* Old browsers */
    background: -webkit-radial-gradient(center, ellipse cover, #91AA9D 0%, #193441 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #91AA9D 0%, #193441 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div#openpsi {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #822B34 0%, #49152B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}