// @import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/_theming.scss';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-blue-grey, A200, A100, A400);
$accent:  mat-palette($mat-teal, 700, 500, 900);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
